.main {
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    align-items: center;
    padding: 6rem;
    min-height: 100vh;
    justify-content: flex-start;
    padding-top: 3rem;
  }

  
.blogs {
    margin-bottom: 20px; /* Space between each blog section */
  }
  
  .blogs h2{
    margin-bottom: 20px;
    text-align: center;
  }
  
  .blogItem h3 {
    margin-bottom: 10px; /* Space below each heading */
    font-size: 2rem;
  }
  
  .blogItem p {
    margin-bottom: 20px; /* Space below each paragraph */
    font-size: 19px;
  }

  .main h1 {
    margin-bottom: 1rem; /* Space below the h1 heading */
  }

  .blogItemp{
    max-width: 45vw;
  }
